<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit <%=plant.name%></title>
</head>
<body>
  <h1>Edit <%= plant.name %></h1>
  <form action="/plants/<%=plant._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= plant.name %>" />
    <label for="ready-to-choose">Ready to choose?</label>
    <input
      type="checkbox"
      name="isReadyToEat"
      <% if (plant.isReadyToChoose) { %>checked<% } %> 
      />
    <button type="submit">Update Plants</button>
  </form>
  <a href="/plants">Back to Plants</a>
</body>
</html>